asgiref==3.3.1
beautifulsoup4==4.9.3
behave==1.2.6
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
comtypes==1.1.8
coverage==5.4
coverage-python-version==0.2.0
coverage-reporter==0.1
cryptography==3.3.1
DateTime==4.3
Django==3.1.4
django-heroku-db-utils==0.1.0
django-rest-knox==4.1.0
djangorestframework==3.12.2
future==0.16.0
idna==2.10
MouseInfo==0.1.3
mysqlclient==2.0.3
numpy==1.20.1
opencv-python==4.5.1.48
parse==1.19.0
parse-type==0.5.2
Pillow==8.1.0
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
pyjokes==0.6.0
PyMsgBox==1.0.9
pyperclip==1.8.1
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.26
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.4
pywhatkit==3.9
pywin32==300
requests==2.25.1
rubik-solver==0.2.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
splunk-sdk==1.6.14
sqlparse==0.4.1
urllib3==1.26.2
wikipedia==1.4.0
zope.interface==5.2.0
